<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">BOOKSTORE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item {{trangchu}}">
                    <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{danhmuc}}">
                    <a class="nav-link" href="/danhmuc">Danh mục</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="product.html">Sản phẩm</a>
                </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item {{person}}">
                    <a class="nav-link" href="/person"><span class="bi bi-person"></span>:{{user.username}}</a>
                </li>
                {% endif %}
                <li class="nav-item {{lienhe}}">
                    <a class="nav-link" href="/contact">Liên hệ</a>
                </li>
            </ul>
            <form action="/danhmuc" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                    <input value="{{keyword}}" type="text" class="form-control" placeholder="Search..." name="keyword" id="keyword">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a class="btn btn-success btn-sm ml-3" href="/giohang">
                <i class="fa fa-shopping-cart"></i> Cart
                <!-- <span class="badge badge-light">3</span> -->
            </a>
            <ul class="navbar-nav m-auto" style="right: 0px; margin-left: 10px; margin-right: 10px;">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Đăng xuất</a></li>
                {% else %}
                    <li class="nav-item {{dangnhap}}"><a class="nav-link" href="/login">Đăng nhập</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>