{% extends 'common/layout.html' %}
{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Đồ án Cloud</h1>
        <h1 class="jumbotron-heading">Giáo viên hướng dẫn: Trương Thị Ngọc Phượng</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Mã số sinh viên</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hò Kim Tiền - 20110572</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ngô Thanh Phú - 20110541</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Trương Thuận Hòa</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>
{% endblock %}