{% extends 'common/layout.html' %}
{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body mb-4">
            <form action="/login" method="post">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input name="username" type="text" id="form2Example1" class="form-control" placeholder="Tên tài khoản" />
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input name="password" type="password" id="form2Example2" class="form-control" placeholder="Mật khẩu"/>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <!-- <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                      <label class="form-check-label" for="form2Example31"> Ghi nhớ </label>
                    </div> -->
                  </div>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>
              
                <!-- Register buttons -->
                <div class="text-center">
                 <a href="/register">Đăng ký</a>
                </div>
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Quên mật khẩu?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}